# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/librocast-app/src/backend/node_modules/
/librocast-app/node_modules/
.idea/

/librocast-app/.pnp
/librocast-app/.pnp.js
/librocast-app/src/backend/src/serviceAccountKey.json

# testing
/librocast-app/coverage

# production
/librocast-app/build

# misc
/librocast-app/.DS_Store
/librocast-app/.env.local
/librocast-app/.env.development.local
/librocast-app/.env.test.local
/librocast-app/.env.production.local

/librocast-app/npm-debug.log*
/librocast-app/yarn-debug.log*
/librocast-app/yarn-error.log*
