@media screen and (min-width: 850px) {
    .twitch {
        position: relative;
    }

    .twitch .twitch-video {
        width: 75%;
        padding-top: 42.1875%;
    }

    .twitch .twitch-chat {
        width: 25%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
}