.searchBar {
    width: 100%;
    text-align: center;
}

.searchType {
    border-radius: 5px 0 0 5px;
}

.searchButton {
    border-radius: 0 5px 5px 0;
    background-color: white;
}

.searchInput {
    margin-top: 5px;
    margin-left: 5px;
    width: 300px;
}

.searchInput, .searchType, .searchButton {
    height: 30px;
    border: 1px solid gainsboro;
}

.search:hover, .search:focus {
    border: 1.5px solid #00ccb8;
    background-color: white;
}

#resultsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

#bookSearchResult {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
    width: 320px;
    text-align: center;
}


#userSearchResult {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
    width: 300px;
    text-align: center;
}

#userSearchResult img {
    width: 250px;
}

.profileLink:visited {
    color: blue;
}




